
.app {
  text-align: center;
}

.app-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 40vmin;
}

.app-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-content {
  background-color: #fdfd96;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.app-link {
  color: #b2cefe;
  text-decoration: none;
  border: 1px solid #b2cefe;
  border-radius: 5px;
  padding: 10px;
  min-width: 100px;
}

.app-link:hover {
  border: 1px solid #fea3aa;
  color: #fea3aa;
}

.app-button {
  border: 1px solid #fea3aa;
  border-radius: 5px;
  padding: 10px;
  min-width: 100px;
}
.app-button .app-button-title {
  color: #fea3aa;
  text-decoration: none;
}
.app-button:hover {
  border-color: #b2cefe;
}
.app-button .app-button-title:hover {
  color: #b2cefe;
}

.margin-top {
  margin-top: 10px;
}

.google-icon {
  width: 7.4rem;
  height: auto;
  /* border: 1px solid white; */
}

.appstore-icon {
  width: 6rem;
  height: auto;
  /* border: 1px solid white; */
  padding: 5px 0px;
}

.copyright {
  font-size: 14px;
  margin: 20px;
}

.about {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  max-width: 200px;
  height: auto;
  margin: 20px 0px;
}

.blink {
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.ReactModal__Overlay {
  z-index: 2;
}

@keyframes App-logo-spin {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(10deg);}
  50%  {transform: rotate(0deg);}
  75%  {transform: rotate(-10deg);}
  100% {transform: rotate(0deg);}
}